------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------ " pip install -r requirements.txt "-------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------

information about pip: https://www.neoguias.com/como-instalar-pip-python/#Como_instalar_PIP_en_Windows
good video for this guide: https://www.youtube.com/watch?v=APOPm01BVrk

1 ----------------->>>>> virtual environments:

* open cmd and go to the path of preference for the project, e.g:

C:\users> cd test\etc...

* and put the next command line:

C:\users\test\project>python -m venv project_test_venv

* and then we go to put our project_test_venv\scripts...

(base) C:\users\test\project>project_test_venv\scripts\activate.bat

* and if we put pip list we will see the current modules

(project_test_venv) (base) project_test_venve>pip list

Package    Version
---------- -------
pip        19.2.3
setuptools 41.2.0

* and now we can install packages or modules in our environments system e.g:

pip install numpy
pip install keras

2 ----------------->>>> virtual environments with all packages of system

C:\users\test\project>python -m venv project_venv --system-site-packages

3 ----------------->>>>> first steps for requirements

* create a file.txt with the name "requirements.txt"
* add modules of python whit the version e.g: numpy==1.20.0

-> e.g:
--------------requirements.txt--------------
numpy==1.20.0
pandas=1.2.1
--------------------------------------------

4 ----------------->>>>> pip list

* use 'pip list' in cmd for showing the modules installed in your system.
* if you moving to certain or sure path, it'll only show the modules in this path.

->e.g:
C:\users\test\etc...> pip list --local

numpy               1.20.0
pandas              1.2.1
matplotlib	    3.3.4
etc..

* remember that if you want to see the modules created by your virtual environment you must activate the environment

* and then we go to put our project_test_venv\scripts...

(base) C:\users\test\project>project_test_venv\scripts\activate.bat

5 ----------------->>>>> copy all modules in the path:

* use 'pip freeze > requirements_all.txt'

* this makes that copy all modules in the path in a file.txt where we can choose the name of file. e.g: 
'requirements_all.txt'
'requirements_copy.txt'
'requirements123.txt'
etc.

* and 'pip freeze' for returning all modules

6 ----------------->>>  uninstall packages:

pip uninstall [numpy, pandas, etc] # you choose the package.

* if the console ask or request a confirmate we will use:

pip uninstall -y [numpy, pandas, etc]

* also we can use the requirements:

pip uninstall -y -r requirements.txt

7 ----------------->>>